h1{
    color: rgb(14, 95, 34);
    text-align: center;
}
img{
    width: 400px;
}

#thirdDiv{
    height: 500px;
    width: 600px;
    
    padding: 50px;
    border-color: 50px blue;
    display: inline;
    text-align: center;
    
}
#spanid{
    margin: 50px;
    font-size: 18px;
    display: inline;
    text-align: center;
}

body{
    background-image: url(https://i.pinimg.com/736x/97/b8/e7/97b8e76f842b445f15e992257d3346f1.jpg);
    background-position: center;
    background-size: 100px;
    text-align: center;
}
